
@font-face {
  font-family: 'Pokemon Hollow';
  src: url(fonts/Pokemon-Hollow.ttf) format('truetype');
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url(fonts/Pokemon-Solid.ttf) format('truetype');
}

header {
  font-family: "Pokemon Hollow", system-ui;
  font-size: 1.15em;
  text-align: center;
  padding: 5px ;
  background: #ef5454;
  color: #ffffff;
}
.carousel {
  width: 100%;
  overflow: hidden;
  padding: 1em 0;
}

.carousel-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scrollCards 40s linear infinite;
}

h2 {
  font-family: 'Pokemon Hollow', system-ui;
  text-align: center;
  margin: 20px 0;
}

.card {
  /* font-family: 'Pokemon Hollow', system-ui; */
  flex: 0 0 250px;
  background: rgb(255, 197, 197);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

/* .carousel-track:hover {
  animation-play-state: paused;
} */

.card img {
  width: 100%;
  aspect-ratio: 3 / 4; 
  /* object-fit: cover; */
}

@keyframes scrollCards {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}